* {
    // Polices 
    @font-face {
        font-family: 'Almarai Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Almarai Regular'), url('../styles/assets/fonts/Almarai-Regular.woff'), format('woff');
    }
        
    
    @font-face {
        font-family: 'Almarai Light';
        font-style: normal;
        font-weight: normal;
        src: local('Almarai Light'), url('../styles/assets/fonts/Almarai-Light.woff'), format('woff');
    }
        
    
    @font-face {
        font-family: 'Almarai Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Almarai Bold'), url('../styles/assets/fonts/Almarai-Bold.woff'), format('woff');
    }
        

    // Réglages généraux
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    
    color: #ffffff;
    &::selection {
        background-color: lightblue;
    }
}


