.user-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
}

.card-container {
    min-width: 620px;
    min-height: 240px;
    background-color: #2A2831;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    overflow: hidden;
    border-radius: 20px;
    
    .card-smallContainer {
        background-color: #383641;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        border-radius: 20px;
        margin: 2em 0;

        .card-user-picture {
            flex-grow: 1;
            max-width: 115px;
            height: 77px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #7D7D7D;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        .card-name-user {
            height: 77px;
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid #7D7D7D;
        }

        .modify-delete {
            padding: 10px 20px 10px 10px;
            flex-grow: 1;
            border-bottom: 1px solid hsl(0deg 0% 49%);
            display: flex;
            justify-content: flex-end;

            svg {
                margin-left: 25px;
                cursor: pointer;
                path:hover {
                    color: #8D76FF;
                }
                
            }
        }

        .card-message {
            height: 40%;
            width: 100%;
            border-bottom: 1px solid hsl(0deg 0% 49%);
            border-radius: 0 0 20px 20px;

            svg {
                margin: 5px 15px 0 15px;
            }
            span {
                font-size: 0.8em;
            }
            li {
                margin-top: 1em;
            }
            .post-content {
                display: flex;
                gap: 2em;
                .message {
                    margin: 10px 0 10px 15px;
                }
                .picture {
                    height: 100px;
                    width: 100px;
                    border: 1px solid;
                    margin: 10px 0;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .card-likes-comments {
            height: 39px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 25px;
            gap: 15px;

            .fa-message path {
                &:hover {
                    color: #8D76FF;
                }
            }

            .thumbs-up path {
                &:hover {
                    color:rgb(0, 216, 0);
                }
            }

            .active-green path{
                color:rgb(0, 216, 0);
            }
            
            .thumbs-down path {
                &:hover {
                    color: rgb(255, 30, 30);
                }
            }

            .active-red path{
                color: rgb(255, 30, 30);
            }

            svg {
                cursor: pointer;
            }

            .post-like {
                color: rgb(0, 216, 0);
            }
            .post-dislike {
                color: rgb(255, 30, 30);
            }
            
        }
    }
}