.comments-container {
    display: none;
    min-width: 620px;
    min-height: 240px;
    background-color: hsl(253deg 10% 17%);
    margin-top: 2em;
    overflow: hidden;
    border-radius: 20px;
}