.home-header {
    height: 15%;
    border-radius: 20px;

    .logout-action {
        bottom: -30.5px !important;
    }

    .img-container {
        display: flex;
        align-items: center;

        h1 {
            font-size: 2.5em;
            padding-left: 7px;
        }

        img {
            padding: 0 0 5px 10px;
        }

        .bounce-in-right {
            -webkit-animation: bounce-in-right 1.1s both;
                    animation: bounce-in-right 1.1s both;
        }
    }

}