.stories {
    height: 30%;
    width: 90%;
    background-color: #222029;
    border-radius: 20px;
    display: flex;
    overflow: scroll;
    padding: 0 5px;
    &::-webkit-scrollbar { 
        display: none; 
    }

    .picture-container {
        height: 100%;
        width: 125px;

        img {
            height: 100%;
            width: 125px;
            border-radius: 20px;
            padding: 5px;
            transition: transform 400ms;
            cursor: pointer;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.no-stories {
    height: 30%;
    width: 90%;
    background-color: #222029;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

    svg {
        font-size: 2em;
        margin-right: 15px;
    }
}