.stories {
    height: 30%;
    width: 90%;
    background-color: #222029;
    border-radius: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 0 5px;

    .picture-container {
        height: 100%;
        width: 125px;

        img {
            height: 100%;
            width: 125px;
            border-radius: 20px;
            padding: 5px;
        }
    }

    .arrow-right {
        position: fixed;
        top: 30.5%;
        right: 31%;
        transform: translateY(-50%);
        cursor: pointer;
        svg {
            font-size: 3em;
            path {
                color: #222029;
            }
        }
    }
}

.no-stories {
    height: 30%;
    width: 90%;
    background-color: #222029;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

    svg {
        font-size: 2em;
        margin-right: 15px;
        
        path {
           color:hsl(0deg 60% 53%);
        }
    }
}