.input-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 90%;
    background-color: #222029;
    border-radius: 20px;

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 400px;
        border-radius: 20px;
        background-color: hsl(251deg 9% 23%);
    }

    .user-picture-input {
        height: 50px;
        width: 50px;

        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }
    }

    .input-text {
        margin: 0 10px;
        height: 100%;
        display: flex;
        align-items: center;
        input {
            height: 30px;
            width: 100%;
            color: black;
            border-radius: 20px;
            padding-left: 10px;
        }
    }

    .buttons-icons {
        width: 20%;
        display: flex;
        justify-content: space-around;
        padding-right: 10px;
        position: relative;

        svg {
            height: 25px;
            cursor: pointer;
            transition: transform 400ms;
            &:hover {
                transform: scale(1.15);
            }
        }

        .fa-paper-plane {
            margin-left: 20px;
        }

        .input-file {
            position: absolute;
            right: 54px;
            width: 30px;
            top: 2px;
            height: 28px;
            opacity: 0;
        }

        .input-file[type=file]::file-selector-button {
            cursor: pointer;
        }
    }
}