.register-page {
    background-image: url("../../images/cities-city-singapore-naght.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    
    .colored-box-red {
        background: #C23A2D;
        display: inline-block;
        width: 20.8em;
        height: 32em;
        opacity: 69%;
        margin-left: 20%;
        position: relative;
        z-index: 1;
        bottom: 5px;
        right: 5px;
        transform: skew(358deg, -2deg);
          
    }

    .colored-box-purple {
        background: #483993;
        display: inline-block;
        width: 20.8em;
        height: 32em;
        opacity: 69%;
        margin-left: 20%;
        position: relative;
        z-index: 1;
        bottom: 5px;
        right: 5px;
        transform: skew(358deg, -2deg);
    }

    .log-container{
        width: 20em;
        height: 32em;
        margin-left: 20%;
        position: absolute;
        z-index: 2;
        display: flex;
        gap: 15px;
        flex-direction: column;
        background: #222029;

        .groupomania-message {
            position: absolute;
            top: 3.7em;
            left: 5em;
            font-weight: bold;
            font-size: 1.2em;
            width: 100%;
        }

        .groupomania-logo {
            width: 100%;
            padding: 30px;
        }
    };

    .form-container {
        margin: 0 25px;
        
        ul {
            display: flex;
            text-align: center;
            gap: 2em;
            vertical-align: middle;
            margin-bottom: 1em;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
    #register {
        background: #C23A2D;
        width: 8em;
        height: 3em;
        border-radius: 13px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #login {
        background: #483993;
        width: 8em;
        height: 3em;
        border-radius: 13px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }
    
};

